body {
         transition-duration: 5s;
        height: 100vh;
        background-image: url('a.png');
        background-position: center;
        background-repeat : no-repeat;
        background-size : contain
        
   
      }
  